:root{
    --primary-color-text: #757575;
    --accent-color: #2196f3;
    --bgd-color: #ffffff;
    --bgd-color-footer: #2F303A;
    --color-link: #212121;
    --logo-color-span: #000000;
    --team-section-bgd: #F5F4FA;
    --color-border: #eeeeee;
    --color-line-header: #ececec;
  }
  /* body */
  .container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
  }
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  body {
    color: var(--primary-color-text);
    background-color: var(--bgd-color);
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.7;
    letter-spacing: 0.03em;
  }
  a {
    text-decoration: none;
  }
  .list {
    padding: 0;
    margin: 0;
    list-style: none;
  }
  .header-all {
    display: flex;
    align-items: baseline;
  }

  .nav-all {
    display: flex;
    align-items: center;
  }
  /* header */
  .logo {
    color: var(--accent-color);
    font-family: "Raleway", sans-serif;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.03em;
  }
  .logo span {
    color: var(--logo-color-span)
  }
  .header-link {
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    color: var(--color-link);
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
  }
  .header-link:hover,
  .header-link:focus {
    color: var(--accent-color);
  }
  .header-nav .header-link.studio {
    color: var(--accent-color);
  }
  .header-nav {
    display: flex;
    margin-left: 93px;
  }
  .header-nav .nav-item + .nav-item {
    margin-left: 50px;
  }
  .contacts-link {
    color: var(--accent-color);
    font-weight: 500;
  }
  .contacts-phone {
    color: var(---primary-color-text);
  }
  .contacts-link:hover,
  .contacts-link:focus {
    color: var(--accent-color);
  }
  .contacts-item {
    list-style-type: none;
  }
  .header .contacts-list {
    display: flex;
    margin-left: auto;
  }
  .line {
    border-bottom: 1px solid var(--color-line-header);
  }
  .contacts-list .contacts-item + .contacts-item {
    margin-left: 50px;
  }
  /* main */
  .hero-section {
    background-color: var(--bgd-color-footer);
    padding: 200px 0;
    text-align: center;
  }
  .hero-title {
    width: 696px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    margin-bottom: 30px;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    color: var(--bgd-color);
  }
  .hero-btn {
    border-radius: 4px;
    padding: 10px 32px;
    min-width: 216px;
    border: 1px solid transparent;
    color: var(--bgd-color);
    background-color: var(--accent-color);
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 1.9;
    letter-spacing: 0.06em;
    text-align: center;
  }
  /* section Преимущуства */
  .visually-hidden {
    position: absolute;
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1px;
  }
  .section-advantage {
    padding: 94px;
  }
  .advantages-item {
    list-style-type: none;
  }
  .advantages-item + .advantages-item {
    margin-left: 30px;
  } 

  .advantages-title {
    margin-top: 0px;
    margin-bottom: 10px;
    color: var(--color-link);
    font-weight: 700;
    font-size: 14px;
  }
  .advantges-description {
    margin-top: 0px;
    margin-bottom: 0px;
    color: var(--primary-color-text);
    font-size: 14px;
  } 

  /* section work */ 
  .work-section {
    padding-top: 0;
    padding-bottom: 94px;
  }

  .work-title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--color-link);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.16;
    letter-spacing: 0.03em;
    text-align: center;
  }
  .work-items {
    justify-content: space-between;
  }
  .work-img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  /* section team*/

  .team-section {
    background-color: var(--team-section-bgd);
  }
  .team-section .title {
    margin-top: 0;
    margin-bottom: 50px;
    text-align: center;
    color: var(--color-link);
    font-size: 36px;
    font-weight: 700;
  }
  .team-list.header-all{
    padding-left: 0px;
  }
  .team-list .team-member .team-member.caption {
    margin-right: 0px;
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .team-list {
    display: flex;
    justify-content: space-between;
    padding-bottom: 94px;
  }
  .team-member {
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    text-align: center;
    background-color: var(--bgd-color);
  }
  .team-member {
    margin-left: 0px;
    margin-right: 30px;
  }
  .team-member-name {
    color: var(--color-link);
    font-weight: 500;
}
 .team-member-role {
    color: var(--primary-color-text);
    font-weight: 400;
}

  /* portfolio */
  .btn-nav {
    color: var(--color-link);
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.6;
    letter-spacing: 0.03em;
  }
  .btn-nav:hover,
  .btn-nav:focus {
    color: var(--bgd-color);
    background-color: var(--accent-color);
  }
  .btn-nav,
  .hero-btn {
    cursor: pointer;
  }
  .portfolio-title {
    color: var(--color-link);
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
  }
  .portfolio-text {
    color: var(--primary-color-text);
    font-size: 16px;
    line-height: 1.9;
  }

  /* footer */

  .footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--bgd-color-footer);
  }
  .footer-logo {
    display: inline-block;
    margin-bottom: 20px;
  }
  .span.studio,
  .address-location {
    color: var(--bgd-color);
  }
  .adress {
    font-style: normal;
  }
  .address-locations {
    margin-bottom: 9px;
    margin-top: 0;
  }
  .footter-contacts-item,
  .footer {
    color: rgba(255, 255, 255, 0.6);
    font-weight: 400;
  }
  .contacts-item:hover,
  .contacts-item:focus {
    color: var(--accent-color);
 }
 .footer-list {
  display: inline-block;
}
.contacts-item {
  margin-bottom: 9px;
}
